<div class="item-wrapper" (mouseenter)="enableTooltip()" (mouseleave)="disableTooltip()">
    <div [ngStyle]="{'background-image': 'url(' + photo.media$group.media$thumbnail[1].url + ')'}" class="image-container"></div>
    <a [routerLink]="['/photo', photo.gphoto$albumid.$t, photo.gphoto$id.$t]">
        <span class="fa fa-check"></span> Select
    </a>
    <div *ngIf="showTooltip" class="photo-tooltip">
        <div class="photo-tooltip-arrow"></div>
        <div class="photo-tooltip-content">
            <div class="row">
                <div class="title col-xs-4">File Name:</div>
                <div class="content col-xs-8">{{photo.title.$t}}</div>
                <div class="title col-xs-4">Published:</div>
                <div class="content col-xs-8">{{photo.published.$t | date}}</div>
                <div class="title col-xs-4">Caption:</div>
                <div class="content col-xs-8">{{photo.summary.$t || 'There is no caption text for this photo so far'}}</div>
            </div>
        </div>
    </div>
</div>
