<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="fa fa-picture-o"></span>
        </a>
    </li>
    <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <span class="fa fa-user"></span>
        </a>
    </li>
    <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
            <span class="fa fa-comments"></span>
        </a>
    </li>
    <li role="presentation">
        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
            <span class="fa fa-cog"></span>
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div *ngIf="photo" class="container single-photo">
            <p class="welcome">
                <a [routerLink]="['/albums', albumId]"><span class="fa fa-chevron-left"></span></a>
                <span class="fa fa-folder"></span> {{photo.title.$t}}
            </p>
            <div class="item-wrapper">
                <img src="{{photo.content.src}}" alt="Photo: {{photo.title.$t}}">
                <div class="row">
                    <div class="col-xs-3 title">File name:</div>
                    <div class="col-xs-9 content">{{photo.title.$t}}</div>
                    <div class="col-xs-3 title">Published:</div>
                    <div class="col-xs-9 content">{{photo.published.$t | date}}</div>
                    <div class="col-xs-3 title">Caption:</div>
                    <div class="col-xs-9 content">{{photo.summary.$t || 'There is no caption for this photo so far'}}</div>
                    <div class="col-xs-3 title">Keywords:</div>
                    <div class="col-xs-9 content tags">
                        <a href="#" class="btn btn-info btn-xs">Fun</a>
                        <a href="#" class="btn btn-info btn-xs">Weekend</a>
                    </div>
                </div>
            </div>
        </div><!-- /.single-photo -->
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="container">
            Some Tab Content
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <div class="container">
            Another Tab Content
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
        <div class="container">
            And Another
        </div>
    </div>
</div>
